.header{
	background-color: #2196F3;
	padding: 0.1px;
}
.headerLeft{
	width: 50%;
	height: 150px;
	float: left;
	text-align: center;
	background-color: white;
	border-bottom: groove;
	background-image: linear-gradient(to right, #8bbdd9, #03A9F4 );
}
.headerRight{
	width: 50%;
	height: 150px;
	float: left;
	background-color: white;
	border-bottom: groove;
	background-color: #03A9F4;
	margin-bottom: 20px;
}
.main{
	background-color: #eeeeee;
	text-align: left;
}
form{
	margin-left: 20px;
	width: 100%;
}
button{
	background-color: #03A9F4;
	border: none;
	color: white;
	padding: 12px;
	width: 300px;
	cursor: pointer;
	border-radius: 12px;
	margin-left: 40%;
}